<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="format-detection" content="telephone=no,email=no" />
		<title>加入DataEye</title>
		<link rel="stylesheet" href="/css/jobs.css">
	</head>
	<body>
		<div class="page-home" id="home" style="display: block;">
			<div class="bg-wrapper">
				<div class="bg bg-1" data="1" id="bg-1">
					<div class="ad">
						<img src="/img/jobs/down.png" alt="">
					</div>
				</div>
				<div class="bg bg-2" data="2" id="bg-2">
					<div class="ad">
						<img src="/img/jobs/down.png" alt="">
					</div>
				</div>
				<div class="bg bg-3" data="3" id="bg-3">
					<a href="/jobs/list"  id="view_pos_type">查看招聘职位</a>
				</div>
			</div>
		</div>



		<div id="loading" style="display: block;">
			<div class="spinner">
		    <div class="spinner-container container1">
		      <div class="circle1"></div>
		      <div class="circle2"></div>
		      <div class="circle3"></div>
		      <div class="circle4"></div>
		    </div>
		    <div class="spinner-container container2">
		      <div class="circle1"></div>
		      <div class="circle2"></div>
		      <div class="circle3"></div>
		      <div class="circle4"></div>
		    </div>
		    <div class="spinner-container container3">
		      <div class="circle1"></div>
		      <div class="circle2"></div>
		      <div class="circle3"></div>
		      <div class="circle4"></div>
		    </div>
		  </div>
		</div>



		<script src="/js/jquery-2.1.1.min.js"></script>
		<script>
			function loadImages(sources, callback) {
		    var count = 0,
	        images = {},
	        imgNum = 0;
		    for (src in sources) {
	        imgNum++;
		    }
		    for (src in sources) {
	        images[src] = new Image();
	        images[src].onload = function() {
	            if (++count >= imgNum) {
	                callback(images);
	            }
	        }
	        images[src].src = sources[src];
		    }
			}

			var imgs = [
				'/img/jobs/page-one.png',
				'/img/jobs/page-two.png',
				'/img/jobs/page-three.png'
			]
			loadImages(imgs, function() {
				$('#loading').hide()
				var height = document.documentElement.clientHeight
		    $('.bg').css('height', height + 'px').eq(0).show()
		    $('.bg-wrapper').css('height', height * 3 + 'px')

		    var wrapper = $('.bg-wrapper')[0]
		    var startY = 0
		    var moveY = 0
		    var startTop = 0
		    var newTop = 0
		    var animation = true
		    wrapper.addEventListener('touchstart', function(event) {
		    	if (event.target.tagName == 'A') {
		    		return
		    	}
		    	event.preventDefault();
			    var touch = event.targetTouches[0]; //位于当前DOM元素上的手指的一个列表
			    startY = touch.pageY;
			    moveY = 0;
			    startTop = parseInt($(this).css('top'))
		    }, false)

		    wrapper.addEventListener('touchmove', function(event) {
		    	if (event.target.tagName == 'A') {
		    		return
		    	}
		    	event.preventDefault();
		    	var touch = event.targetTouches[0]
		    	moveY = touch.pageY - startY

		    	var top = parseInt($(this).css('top'))
		    	// 顶部下拉禁止移动
		    	if (top >= 0 && moveY >= 0) {
		    		animation = false
		    		return
		    	}
		    	// 底部上拉禁止移动
		    	if(top == -2 * height && moveY <= 0) {
		    		animation = false
		    		return
		    	}

		    	animation = true
		    	newTop = startTop + moveY
		    	if (newTop > 0 ) {
		    		newTop = 0
		    	} else if (newTop < -1 * height * 2) {
		    		newTop = -1 * height * 2
		    	}
	    		$(this).css('top', newTop + 'px')
		    }, false)

		    wrapper.addEventListener('touchend', function(event) {
		    	if (event.target.tagName == 'A') {
		    		return
		    	}
		    	event.preventDefault()
		    	if (animation) {
		    		// 下拉
		    		if(moveY > 0) {
		    			newTop = parseInt(newTop/height) * height
		    		}

			    	var abs = Math.abs(newTop)
			    	if (abs > 0 && abs <= height) {
			    		newTop = -1 * height
			    	}
			    	if (abs > height && abs <= 2 * height) {
			    		newTop = -2 * height
			    	}
			    	$(this).animate({
			    		top: newTop + 'px'
			    	}, 300)
		    	}
		    }, false)
			})
		</script>
