<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="format-detection" content="telephone=no,email=no" />
		<title>加入DataEye</title>
		<link rel="stylesheet" href="/css/jobs.css">
	</head>
	<body>
		<div class="page-home" id="home" style="display: block;">
			<div class="bg bg-1" data="1" id="bg-1"></div>
			<div class="bg bg-2" data="2" id="bg-2"></div>
			<div class="bg bg-3" data="3" id="bg-3"></div>
		</div>

		<div id="loading" style="display: block;">
			<div class="spinner">
		    <div class="spinner-container container1">
		      <div class="circle1"></div>
		      <div class="circle2"></div>
		      <div class="circle3"></div>
		      <div class="circle4"></div>
		    </div>
		    <div class="spinner-container container2">
		      <div class="circle1"></div>
		      <div class="circle2"></div>
		      <div class="circle3"></div>
		      <div class="circle4"></div>
		    </div>
		    <div class="spinner-container container3">
		      <div class="circle1"></div>
		      <div class="circle2"></div>
		      <div class="circle3"></div>
		      <div class="circle4"></div>
		    </div>
		  </div>
		</div>

		<a href="/jobs/list" class="ui-btn ui-shadow ui-corner-all" id="view_pos_type">查看招聘职位</a>


		<script src="/js/jquery-2.1.1.min.js"></script>
		<script>
			function loadImages(sources, callback) {
		    var count = 0,
	        images = {},
	        imgNum = 0;
		    for (src in sources) {
	        imgNum++;
		    }
		    for (src in sources) {
	        images[src] = new Image();
	        images[src].onload = function() {
	            if (++count >= imgNum) {
	                callback(images);
	            }
	        }
	        images[src].src = sources[src];
		    }
			}

			var imgs = [
				'/img/jobs/page-one.png',
				'/img/jobs/page-two.png',
				'/img/jobs/page-three.png'
			]
			loadImages(imgs, function() {
				$('#loading').hide()
		    $('.bg').eq(0).show()
			})

			$(function() {
				var now, next, pre, nowid, nextid, preid, windowheight = document.documentElement.clientHeight

				function touchStart(event, target) {
				    event.preventDefault();
				    var touch = event.targetTouches[0]; //位于当前DOM元素上的手指的一个列表
				    startY = touch.pageY;
				    moveY = 0;
				}

				function touchMove(event) {
			    event.preventDefault();
			    var touch = event.touches[0];
			    moveY = touch.pageY - startY;
			    now = parseInt(this.getAttribute('data'));
			    next = now + 1;
			    pre = now - 1;
			    nowid = document.getElementById('bg-' + now), nextid = document.getElementById('bg-' + next), preid = document.getElementById('bg-' + pre);
			    if (now != imgs.length && moveY < 0) {
			        nowid.style.zIndex = '10';
			        console.log(windowheight)
			        nowid.style.webkitTransform = 'translate(0px,' + moveY + 'px) translateZ(0px) scale(' + (1 - (Math.abs(moveY) / windowheight)) + ')';
			        nextid.style.zIndex = '20';
			        nextid.style.display = 'block';
			        nextid.style.webkitTransform = 'translate(0px,' + (windowheight - Math.abs(moveY)) + 'px) translateZ(0px)';
			    } else if (moveY > 0 && now != 1) {
			        nowid.style.zIndex = '10';
			        nowid.style.webkitTransform = 'translate(0px,' + moveY + 'px) translateZ(0px) scale(' + (1 - (Math.abs(moveY) / windowheight)) + ')';
			        preid.style.zIndex = '20';
			        preid.style.display = 'block';
			        preid.style.webkitTransform = 'translate(0px,' + (windowheight - Math.abs(moveY)) * -1 + 'px) translateZ(0px)';
			    }
				}

				function touchEnd(event) {
			    event.preventDefault();
			    if (now != imgs.length && moveY < 0) { //move up
		        nowid.style.webkitTransform = 'translate(0px,' + moveY + 'px) translateZ(0px) scale(' + (1 - (Math.abs(moveY) / windowheight)) + ')';

		        nextid.style.zIndex = '20';
		        nextid.style.display = 'block';
		        nextid.style.webkitTransform = 'translate(0px,0px) translateZ(0px)';

		        setTimeout(function() {
		            nowid.style.display = 'none';
		            nowid.style.webkitTransform = 'translate(0px,0px) translateZ(0px) scale(1)';
		        }, 500);

		        if (now == imgs.length - 1) {
		            document.getElementById('view_pos_type').style.display = 'block';
		        } else {
		            document.getElementById('view_pos_type').style.display = 'none';
		        }

			    } else if (moveY > 0 && now != 1) { //move down
			        nowid.style.webkitTransform = 'translate(0px,' + moveY + 'px) translateZ(0px) scale(' + (1 - (Math.abs(moveY) / windowheight)) + ')';
			        preid.style.zIndex = '20';
			        preid.style.display = 'block';
			        preid.style.webkitTransform = 'translate(0px,0px) translateZ(0px)';


			        setTimeout(function() {
			            nowid.style.display = 'none';
			            nowid.style.webkitTransform = 'translate(0px,0px) translateZ(0px) scale(1)';
			        }, 500);

			        if (now == imgs.length) {
			            document.getElementById('view_pos_type').style.display = 'none';
			        }

			    }
				}

				$('.bg').each(function() {
					this.addEventListener("touchstart", touchStart, false);
					this.addEventListener("touchmove", touchMove, false);
					this.addEventListener("touchend", touchEnd, false);
				})
			})
		</script>
