<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="format-detection" content="telephone=no,email=no" />
		<title>加入DataEye</title>
		<link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
		<link rel="stylesheet" href="/css/jobs.css?v=4">
	</head>
	<body>
		<% include ./incs/position_type.ejs %>

		<% include ./incs/positions.ejs %>

		<% include ./incs/contact.ejs %>

		<script src="/js/jquery-2.1.1.min.js"></script>
		<script src="/js/jquery.mobile-1.4.5.min.js"></script>
		<script src="/js/WeixinApi.js"></script>
		<script src="/js/dcagent.min.js?v=9"></script>
		<script>
			$(function() {
				DCAgent.init({
          appId: '4DFD99AC805A9918AD5B8AB2016EC322'
				}, function(deviceId) {
					var shareUrl = 'http://career.gdatacube.net/jobs'
			    // 微信分享的数据
			    var wxData = {
		        "imgUrl" : 'http://career.gdatacube.net/img/jobs/dataeye.jpg',
		        "link" : shareUrl + '#' + deviceId,
		        "desc" : '专业的人做专注的事,精细化运营助力精品游戏。现在就加入DataEye，和数据大咖共事，与游戏战队共娱，携先锋部队共战',
		        "title" : "全球猎Eye, DataEye需要你"
			    }
					WeixinApi.share(wxData, {})
				})

				$('#contact').on('pagebeforeshow', function(e, data) {
					var posName = data.prevPage.find('.pos-wrap h3').text()
					$('[name="position"]').val(posName)
				})

				$('.share').on('tap', function() {
					alert('打开右上角菜单，点击“发送给朋友”或者“分享到朋友圈”')
				})

				$('#form1').on('submit', function(e) {
					e.preventDefault()
					var form = $('#form1')[0]
					var data = {
						nickname: form.nickname.value,
						tel: form.tel.value,
						qq: form.qq.value,
						position: form.position.value
					}
					if(!data.nickname || !data.tel) {
						return alert('请填写昵称和联系电话')
					}
					$.ajax({
						url: '/jobs/send',
						type: 'POST',
						dataType: 'json',
						data: data,
						success: function() {
							alert('您的信息已提交，感谢关注DataEye。我们的工作人员会在24小时内和您取得联系，请保持联系方式畅通。')
							form.reset()
							location.href = '#pos_type'
						},
						error: function(xhr, status, text) {
							alert(xhr.responseText)
						}
					})
					return false
				})
			})
		</script>
