<div class="banner">
	<div class="head">
		<a href="#home" data-transition="pop"><img src="/img/jobs/logo.png" alt=""></a>
	</div>

	<div class="head-text">
		<strong>招聘职位</strong>
	</div>

	<div class="logo">
		<a href="#pos_type" data-transition="pop" id="goto_list">
			<img src="/img/jobs/list-normal.png" alt="">
		</a>
	</div>

	<div style="clear: both;"></div>
</div>
