<div class="banner">
	<div class="head">
		<a href="#pos_type" data-transition="pop"><img src="/img/jobs/banner02.png" alt=""></a>
	</div>

	<div class="logo">
		<a href="#home" data-transition="pop"><img src="/img/jobs/logo.png" alt=""></a>
	</div>

	<div style="clear: both;"></div>
</div>
