<footer>
	<div style="width: 90%;margin: 0 auto;">
		<div class="btns">
			<a class="sell btn ui-btn ui-corner-all" href="#contact">我要自荐</a>
		</div>

		<div class="btns">
			<a class="share btn ui-btn ui-corner-all" href="javascript:;">推荐给朋友</a>
		</div>

		<div class="mask"></div>
	</div>
</footer>
