<section data-role="page" class="page-home" id="home">
	<div class="bg" data-cls="bg-one"></div>
	<div class="link">
		<a href="#product">
			<img src="/img/jobs/down.png" alt="">
		</a>
	</div>
</section>

<section data-role="page" class="page-home" id="product">
	<div class="bg" data-cls="bg-two"></div>
	<div class="link">
		<a href="#team">
			<img src="/img/jobs/down.png" alt="">
		</a>
	</div>
<!-- 	<div class="link-top">
		<a href="#home">
			<img src="/img/jobs/up.png" alt="">
		</a>
	</div> -->
</section>

<section data-role="page" class="page-home" id="team">
	<div class="bg" data-cls="bg-three"></div>
	<div class="link">
		<a href="#pos_type">
			<img src="/img/jobs/down.png" alt="">
		</a>
	</div>
	<!-- <div class="link-top">
		<a href="#product">
			<img src="/img/jobs/up.png" alt="">
		</a>
	</div> -->
</section>
