<section data-role="page" class="page-home" id="home">
	<div class="banner">
		<img src="/img/jobs/banner.png" alt="">
	</div>

	<div class="desc">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DataEye是立足移动游戏，服务游戏全产业链的第三方专业数据分析服务平台。共有四大产品线：D-OAP运营分析平台、D-EAP体验分析平台、D-HAP HTML5游戏分析平台、D-IAP游戏投后分析平台。
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DataEye助力游戏产业链各环节的数据统计分析，打造第三方"零距离"专业服务，开启企业私有云、企业定制化、服务全球化、多数据源采集等特色服务。
	</div>

	<div class="btns">
		<a class="ui-btn ui-shadow ui-corner-all" href="#pos" style="color: #172e56">查看职位</a>
	</div>
</section>
