<section data-role="page" class="page-home" id="home">
	<div class="bg bg-one"></div>
</section>

<section data-role="page" class="page-home" id="product">
	<div class="bg bg-two"></div>
</section>

<section data-role="page" class="page-home" id="team">
	<div class="bg bg-three"></div>
</section>
