<section class="pages-position" id="pos" data-role="page">
	<div class="banner">
		<div class="head">
			<a href="#home" data-transition="pop"><img src="/img/jobs/banner02.png" alt=""></a>
		</div>

		<div class="logo">
			<a href="#home" data-transition="pop"><img src="/img/jobs/logo.png" alt=""></a>
		</div>

		<div style="clear: both;"></div>
	</div>

	<ul data-role="listview"  class="ui-listview-outer" id="pos_list">
		<li>
			<a>Java研发(WEB方向)</a>
			<div>
				<strong>职位描述：</strong>
				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
				<strong>职位要求：</strong>
				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</div>
		</li>
		<li>
			<a href="#hadoop">数据挖掘工程师(Hadoop方向)</a>
			<div>
				<strong>职位描述：</strong>
				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
				<strong>职位要求：</strong>
				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</div>
		</li>
		<li>
			<a href="#game">游戏数据分析师</a>
			<div>
				<strong>职位描述：</strong>
				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
				<strong>职位要求：</strong>
				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</div>
		</li>
		<li>
			<a href="#dog">数据产品经理</a>
			<div>
				<strong>职位描述：</strong>
				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
				<strong>职位要求：</strong>
				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</div>
		</li>
	</ul>

	<footer id="tools">
		<div class="btns">
			<a id="sell" class="btn ui-btn ui-corner-all" href="#contact" data-rel="dialog" data-transition="flip">我要自荐</a>
			<a id="share" class="btn ui-btn ui-corner-all" href="javascript:;">推荐给朋友</a>
		</div>

		<div class="mask"></div>
	</footer>
</section>
