<section class="pages-position" id="java" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3>Java高级工程师</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>负责web门户子模块设计实现</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>计算机相关专业，两年以上Java工作经验</li>
				<li>Java基础良好，熟悉java网络，多线程编程</li>
				<li>熟悉SpringMVC/Spring</li>
				<li>熟悉TCP，HTTP网络协议</li>
				<li>熟练使用Mysql，熟悉Mysql管理、优化者优先</li>
				<li>熟悉Linux基本操作，精通Shell编程者优先。</li>
				<li>能够熟练使用svn/tomcat/maven</li>
				<li>能吃苦耐劳，有较强的沟通和执行能力</li>
			</ol>
		</div>
	</div>

	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="it" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3>WEB工程师</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>负责公司内部IT支撑平台的Web系统研发</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>2年以上WEB开发工作经验</li>
				<li>熟悉html/js/css等开发，熟练使用jQuery，Bootstrap等框架</li>
				<li>了解Ajax以及HTTP相关基础知识</li>
				<li>熟悉Java WEB开发常用框架，如SpringMVC/Spring等，了解其他编程语言如PHP、Python等加分</li>
				<li>熟练使用Mysql和Linux</li>
				<li>能吃苦耐劳，有较强的沟通和执行能力</li>
			</ol>
		</div>
	</div>

	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="hadoop" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3 href="#hadoop">Hadoop高级工程师</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>负责公司数据仓库公共平台设计开发</li>
				<li>负责公司海量数据分析及处理</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>计算机相关专业，三年以上Java工作经验</li>
				<li>Java基础良好，至少有一年 Hadoop 开发经验</li>
				<li>深入了解 HDFS/MapReduce/HBase 架构及运行原理</li>
				<li>深入了解 Spark/Hive/Storm，有实际开发者优先</li>
				<li>具有公共平台、大型架构设计开发者优先</li>
				<li>熟练掌握 Linux 基本操作和 Shell 编程</li>
				<li>能吃苦耐劳，有强烈的责任感和良好的沟通能力</li>
			</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="devop" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3 href="#game">运维工程师</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>负责hadoop业务平台日常运营、故障处理等运维工作</li>
				<li>负责相关业务的运营数据分析、运营质量分析等运营工作</li>
				<li>负责相关业务的运营优化，制定相关运营规划</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>本科以上学历，计算机软件或相关专业 </li>
				<li>3年以上Linux、unix操作系统运维经验</li>
				<li>能够胜任7*24小时故障响应及处理</li>
				<li>具备linux下编程经验，擅长shell编程者优先</li>
				<li>有互联网运营经验者优先</li>
				<li>具备良好的沟通技巧和团队合作精神。</li>
			</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="test" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3 href="#dog">测试工程师</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>负责根据项目测试计划制订项目测试用例并实施，保证项目质量和进度</li>
				<li>负责与产品经理和开发人员就项目要求、进度和问题进行沟通</li>
				<li>负责设计测试用例，组织并进行产品测试，提交软件的测试报告</li>
				<li>负责缺陷跟踪和管理</li>
				<li>负责其他专项测试的部分内容</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>2年以上的软件测试经验，具有一定编程能力</li>
				<li>熟练使用LINUX、熟悉TCP/IP、HTTP等网络编程协议</li>
				<li>熟悉项目开发及测试流程与各种测试技巧，熟悉测试用例及测试文档、测试报告的编写</li>
				<li>熟悉至少一门脚本</li>
			</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="fe" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3 href="#dog">前端工程师</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>根据设计稿开发页面，将视觉设计的效果图实现HTML页面</li>
				<li>与后台工程师进行页面开发联调并测试</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>2年以上互联网前端开发工作经验</li>
				<li>熟悉html/js/css/html5等开发</li>
				<li>熟练使用1-2种ajax技术及框架（jquery/mootools/extjs/Bootstrap等）</li>
				<li>熟悉W3C规范，对网站优化、性能提升有丰富经验，能够解决浏览器兼容性等问题</li>
				<li>良好的沟通能力和团队协作能力</li>
				<li>善于学习，自我驱动，了解和学习业界新技术</li>
			</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="game_ana" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3 href="#dog">游戏数据分析师</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>挖掘数据分析需求，制定并实施分析方案，并根据数据分析结果为游戏的改进提出合理化建议</li>
				<li>结合分析结果及对业务需求的深入理解，设计业务指标体系及数据分析产品并驱动研发</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>大学本科或以上学历，数学、统计学、计算机等相关专业优先</li>
				<li>熟悉数据分析的相关理论，熟练掌握SQL，Linux，对数据库的相关知识（hadoop）有所了解</li>
				<li>熟练使用R，SAS或其他统计分析工具辅助工作，至少掌握一门脚本语言，如python/ruby/Shell/Awk</li>
				<li>强逻辑，能批判，高抗压</li>
				<li>至少2年数据分析相关经验，有游戏数据分析、游戏运营背景者优先</li>
			</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="data_ana" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3 href="#dog">数据分析师</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>负责数据产品的算法研究工作 </li>
				<li>挖掘客户的数据需求，并撰写数据报告 </li>
				<li>撰写互联网行业数据相关的月报、季报、年报</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>统计学、计算机、应用数学等相关专业本科及以上学历</li>
				<li>熟练使用SPSS、SAS、R等至少一种统计软件，使用R软件者优先</li>
				<li>熟练使用数据库，熟练掌握SQL查询语言</li>
				<li>良好的逻辑思维与表达能力，善于用简单语言表述复杂结论</li>
				<li>有强烈的进取心，善于团队合作与管理</li>
				<li>良好的数据敏感度，能从海量数据提炼核心结果</li>
				<li>至少2年的互联网数据分析相关工作经验</li>
			</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="pm_op" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3 href="#dog">产品运营专员</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>在线服务客户，解疑答惑</li>
				<li>业务支持（包括账号审核、后台操作、邮件沟通等）</li>
				<li>提取客户需求、产品建议</li>
				<li>设计、监测产品运营指标，定期分析产品运营数据</li>
				<li>根据用户反馈提出产品改进建议，跟进并落实</li>
				<li>参与运营流程设计。</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>大专以上学历，计算机、统计相关专业优先</li>
				<li>至少一年互联网产品运营相关的经验，游戏运营经验优先</li>
				<li>超强的服务意识</li>
				<li>超好的沟通能力</li>
				<li>超高的学习分析能力</li>
			</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="sns_op" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3 href="#dog">社区运营专员</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>制定并完善社区运营计划及各项管理制度</li>
				<li>寻找和发起相关活动，引导用户参与，提升用户活跃度</li>
				<li>管理和把控各种投稿质量，筛选有深度、有含义的文章</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>具备互联网用户关系维护和运营相关工作经验</li>
				<li>具有策划、组织论坛、社区线上、线下活动经验</li>
				<li>具有较强的策划、沟通、协作能力，出色的执行能力，责任心强</li>
				<li>具有大型网站、论坛，或全国性论坛版主工作经验者优先</li>
				<li>有较高的英语读写（翻译）能力</li>
				<li>有数据分析社区运营、游戏社区运营经验者优先</li>
				<li>至少1年社区运营经验</li>
			</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="pd" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3 href="#dog">产品经理</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>负责大数据产品规划、设计，以及持续的改进完善等工作</li>
				<li>撰写高质量的产品需求文档，完成用户界面设计、交互设计、对视觉设计进行把关，确保产品质量、项目进度 </li>
				<li>通过大量的数据分析与竞品分析，完成相关调研分析工作 </li>
				<li>与运营、设计、技术团队密切配合，推动各方改善，实现产品的持续优化 </li>
				<li>跟进用户反馈并与用户交流，深入了解用户的心声</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>具有2年以上移动端产品经验，优秀的交互设计能力，对产品设计有极高的要求，追求极致的用户体验</li>
				<li>善于观察与学习，具有宽广的视野、对于整体产品规划与大数据分析思路及互联网有自己的见解和理念</li>
				<li>有优秀缜密的逻辑与思维能力，良好的协调能力、分析、计划及管理能力，具备良好的团队精神，沟通能力强</li>
				<li>对手机游戏有深入的理解</li>
				<li>有成熟的平台类产品、移动端产品设计经验者优先</li>
			</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="pm" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3 href="#dog">项目经理</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>深入了解产品线，根据产品／团队的特点，制定有针对性的敏捷实施方案，在改进过程中提供贴身指导，在需求管理，迭代管理，工程实践方面确保各项敏捷实践有效地落地</li>
				<li>总结实践，并为产品线提供敏捷软件开发相关的各种培训</li>
				<li>和测试部，运维部开展合作，确保敏捷在公司层面按计划有序地实施，确保项目的快速迭代上线</li>
				<li>识别挖掘项目管理平台及研发基础设施工具的需求，指导部门内的开发团队完善各类工具平台</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>计算机相关专业，本科以上学历，5年以上软件行业从业经验</li>
				<li>有扎实的技术功底和丰富的软件开发经验或丰富的需求或项目管理经验</li>
				<li>具备一定敏捷实践经验（XP，Scrum等）</li>
				<li>熟悉软件业界的最新技术趋势</li>
				<li>优秀的沟通与表达能力，思维敏捷，执行力强</li>
				<li>有互联网行业经验，曾经带领过团队成功实施敏捷转型优先</li>
			</ol>
		</div>
	</div>

	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="bm" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3>商务经理</h3>
		<div>
			<strong>职位描述：</strong>
			<ol>
				<li>工作地可选：北京/成都/上海</li>
				<li>制定商务拓展计划，并跟进落实</li>
				<li>开拓客户市场，促进潜在客户转化</li>
				<li>维护客户日常关系，进行产品宣讲</li>
				<li>及时把握市场动态，了解市场需求</li>
			</ol>
			<strong>职位要求：</strong>
			<ol>
				<li>有较强的沟通能力，表达能力</li>
				<li>性格外向开朗，喜欢交朋友</li>
				<li>悟性强，善于学习，能较快掌握产品信息</li>
				<li>吃苦耐劳，敢于去挑战，可出差</li>
				<li>有游戏公司商务经验者优先</li>
			</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="mm" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3>媒介经理</h3>
		<div>
				<strong>职位描述：</strong>
				<ol>
					<li>工作地可选：深圳/北京</li>
					<li>媒体关系拓展及日常沟通维护</li>
					<li>制定媒体宣传、公关计划，将各类传播素材执行落地</li>
					<li>撰写产品、行业相关及企业文化稿件</li>
					<li>媒体资源深度挖掘，洽谈媒体合作</li>
					<li>PR传播调研，对各合作媒体形成传播监测进行反馈</li>
				</ol>
				<strong>职位要求：</strong>
				<ol>
					<li>有一定的媒体资源和媒介行业经验</li>
					<li>优秀的人际交往能力、沟通能力、公关能力</li>
					<li>有较好的文笔基础，互联网思维较强，熟悉互联网流行语</li>
					<li>悟性高，对新事物接受快，富有创新能力</li>
				</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="dm" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3>品牌经理</h3>
		<div>
				<strong>职位描述：</strong>
				<ol>
					<li>工作地：北京</li>
					<li>市场合作洽谈、各类资源拓展维护</li>
					<li>策划市场活动方案，统筹市场活动筹备</li>
					<li>随时掌握市场信息，升级公司市场计划</li>
				</ol>
				<strong>职位要求：</strong>
				<ol>
					<li>有一定活动策划、统筹经验者优先</li>
					<li>性格活泼开朗，优秀的外联能力</li>
					<li>细心，有较强协调、组织能力</li>
					<li>执行力强，可适应出差</li>
				</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

<section class="pages-position" id="uix" data-role="page">
	<% include ./banner.ejs %>

	<div class="pos-wrap">
		<h3>UI设计师</h3>
		<div>
				<strong>职位描述：</strong>
				<ol>
					<li>负责网站及手机项目页面主体框架的搭建及整体效果的平面设计</li>
					<li>负责与开发人员配合完成页面的整体调整和样式美化</li>
					<li>负责设计制作各类标志，按钮，图标</li>
					<li>对公司的宣传广告进行美工设计</li>
					<li>其他与美术设计相关的工作</li>
				</ol>
				<strong>职位要求：</strong>
				<ol>
					<li>一年以上网页设计工作经验</li>
					<li>有扎实的美术功底和独到的审美观念，具备较强的分析设计能力和方案整合能力</li>
					<li>有门户级网站设计经验的优先</li>
					<li>个性乐观开朗，有良好的沟通能力、团队合作能力、高度的责任感和工作压力承受能力</li>
				</ol>
		</div>
	</div>
	<% include ./footer.ejs %>
</section>

